.about-events-container{
    background-color: rgb(238, 238, 238);
    color: rgb(0, 0, 0);
    top: 3vw;
    width: 88vw;
    margin-left: 2.5vw;
    padding: 3vw 2vw 5vw 5vw;
    border-radius: 10px;
    margin-top: 5vw;
}
.about-events-header{
    font-weight: 500;
    font-size: 8.5vw;

}
.about-events-description{
    font-size: 3.5vw;
    margin-top: 2vw;
}
.events-container{
    padding-top: 5vw;
    width: 100vw;
    color: white;
    padding-bottom: 24vw;
    margin-top: 1vw;
}
.events-container::-webkit-scrollbar {
    display: none;
  }
.events-container {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}
.event-highlight{
    width: 82vw;
    height: 110vw;
    padding: 4vw;
    margin: 8vw 15vw 15vw 5vw;
    background-image: url("../../images/labirynth.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease;
}
#nr2{
    background-image: url("../../images/mainimg1.jpg");
}
.event-highlight::after{
    display: block;
    content: "";
    width: 300vw;
    height: 300vw;
    position: sticky;
    border-radius: 10px;
    margin-left: -40vw;
    margin-top: -205vw;
    background-color: rgba(0, 0, 0, 0.35);
}
.highlight-content{
    position:relative;
    z-index:1;
}
.event-highlight-header{
    font-size: 9.5vw;
    white-space: normal;
    text-shadow: 2px 2px black;
}
.event-highlight-song{
    width: 100%;
    text-align: center;
    margin-top: 30vw;
    font-size: 12vw;
    white-space: normal;
    text-shadow: 2px 2px black;
}
.event-highlight-date{
    width: 100%;
    text-align: center;
    margin-top: 4vw;
    font-size: 5vw;
    text-shadow: 1px 1px black;
    color: rgba(255, 255, 255, 0.75);
}
.event-highlight-location-container{
    margin-left: 47vw;
    margin-top: 27vw;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    width: 40vw;
    height: 7vw;
    border-radius: 5px;
    box-shadow: 0px 5px 10px black;
}
.highlight-location-icon{
    height: 5vw;
    width: 5vw;
    background-image: url("../../images/location-icon.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 2vw;
}
.highlight-location{
    font-size: 5vw;
}

@media screen and (min-width: 1200px) {
    .about-events-container{
        width: 84vw;
        margin-left: 11vw;
        padding: 2.5vw 1vw 2.5vw 1vw;
        background-color: rgb(236, 236, 236);
        box-shadow: none;
        color: black;
        margin-top: 3vw;
    }
    .about-events-header{
        font-weight: 500;
        font-size: 2.5vw;
        margin-left: 2vw;
        margin-top: -3vw;
    }
    .about-events-description{
        font-size: 1.1vw;
        margin-top: 1.5vh;
        color: rgba(0, 0, 0, 0.78);
        width: 40vw;
        margin-left: 2vw;
    }
    .connect-wallet{
        margin-left: 67vw;
        margin-top: -1vw;
        right: 2.5vw;
        border: none;
        padding: 2vh 3.5vw 2vh 3.5vw;
        border-radius: 10px;
        box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.212);
        transition: all 0.5s ease;
        font-size: 1vw;
    }
    .connect-wallet:hover{
        transform: scale(1.02);
    }
    .events-container::-webkit-scrollbar {
        display: block;
      }
    .events-container{
        width: 84vw;
        margin-left: 11vw;
        overflow-x: hidden;
        white-space: nowrap;
        flex-wrap: wrap;
        -ms-overflow-style: block; 
        scrollbar-width: block; 
        padding: 2.5vw 1vw 2.5vw 1vw;
        background-color: rgb(236, 236, 236);
        margin-top: 2vw;
        border-radius: 10px;
    }
    .event-highlight{
        width: 17vw;
        height: 29vw;
        padding: 1vw;
        margin: 0vw 2vw 0 2vw;
        display: inline-block;
    }
    .event-highlight:hover{
        transform: scale(1.03);
        box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.253);
    }
    .event-highlight::after{
        display: block;
        content: "";
        width: 90vw;
        height: 505vw;
        position: sticky;
        border-radius: 10px;
        margin-left: -2vw;
        margin-top: -120vw;
        background-color: rgba(0, 0, 0, 0.35);
    }
    .highlight-content{
        position:relative;
        z-index:1;
    }
    .event-highlight-header{
        font-size: 2.5vw;
    }
    .event-highlight-song{
        margin-top: 14vh;
        font-size: 2.5vw;
        font-weight: 900;
    }
    .event-highlight-date{
        margin-top: 1vh;
        font-size: 1.5vw;
        color: rgb(221, 221, 221);
    }
    .event-highlight-location-container{
        margin-left: 7.5vw;
        margin-top: 14vh;
        display: flex;
        justify-content: left;
        padding: 0.5vw;
        padding-left: 2vw;
        width: 14vw;
        height: 1.5vw;
    }
    .highlight-location-icon{
        height: 1vw;
        width: 1vw;
        margin-right: 0.5vw;
    }
    .highlight-location{
        font-size: 1.2vw;
    }
}