.event-navbar{
    height: 8vh;
    width: 100vw;
    position: absolute;
    bottom: 0vw;
    left: 0vw;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: rgb(0, 0, 0);
    box-shadow: 4px 10px 35px rgba(0, 0, 0, 0.289);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
}
.event-navbar-image{
    height: 4.5vh;
    width: 4.5vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 7vw 0 7vw;
    margin-bottom: 0.5vh;
}
#events-image{
    background-image: url("../../images/events-image.png");
}
#marketplace-image{
    background-image: url("../../images/marketplace-image.png");
}
#profile-image{
    background-image: url("../../images/profile-image.png");
}
#profile-image-selected{
    background-image: url("../../images/profile-image-selected.png");
}
#marketplace-image-selected{
    background-image: url("../../images/marketplace-image-selected.png");
}
#events-image-selected{
    background-image: url("../../images/events-image-selected.png");
}
@media screen and (min-width: 1200px) {
    .event-navbar{
        height: 50vw;
        width: 7vw;
        position: absolute;
        top: 2.5vw;
        left: 1.2vw;
        flex-wrap: wrap;
        align-items: flex-start;
        border-radius: 12px;
    }
    .event-logo{
        width: 3vw;
        height: 4.1vw;
        background-image: url("../../images/whitelogo.png");
        background-size: cover;
        background-position: center;
        margin-top: 4vh;
    }
    .event-navbar-image{
        height: 2.4vw;
        width: 2.4vw;
    }
}