.event-page{
    background-image: url("../../images/labirynth.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    min-height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}
.mint-container{
    width: 90vw;
    height: 105vw;
    margin-top: 5vw;
    margin-left: 5vw;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    color: white;
    padding: 4vw 0 4vw 0;
}
.mint-time{
    width: 100%;
    text-align: center;
    margin-top: 4vw;
    font-size: 6vw;
    font-weight: 700;
    height: 1vw;
}
.nft-preview{
    width: 60vw;
    height: 50vw;
    border-radius: 5px;
    background-image: url("../../images/labirynth.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.nft-title{
    width: 100%;
    text-align: center;
    margin-top: 4vw;
}
.mint-about-container{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 3vw;
}
.cryptocurrency-icon{
    width: 6vw;
    height: 7vw;
}
.supply{
    margin-left: 1vw;
}
.mint-value-container{
    display: flex;
    align-items: center;
    margin-left: 29vw;
}
.mint-btn{
    width: 50vw;
    height: 12vw;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    font-weight: 900;
    font-size: 5vw;
    cursor: pointer;
    transition: all 0.5s ease;
    margin-top: 1vw;
}
.event-about{
    background-color: black;
    color: white;
}
.mint-btn:hover{
    transform: scale(1.05);
}
.nft-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10vw;
}
@media screen and (min-width: 1200px) {
    .mint-container{
        width: 70vw;
        height: 43vw;
        margin-top: 5vh;
        margin-left: 18vw;
        display: block;
        box-shadow: 5px 9px 30px rgba(0, 0, 0, 0.588);
        padding: 3vw 1.5vw 3vw 1.5vw;
    }
    .about-mint-header{
        margin-left: 3vw;
        margin-top: 0vw;
        font-size: 3vw;
    }
    .event-info{
        margin-left: 3vw;
    }
    .mint-time{
        font-size: 2vw;
        position: absolute;
        bottom: 7vw;
        right: 10vw;
        width: 20vw;
    }
    .nft-content {
        margin-top: 0;
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "nft-preview mint-about-nft"; 
          margin-top: 1.5vw;
      }
      .mint-about-nft { grid-area: mint-about-nft; }
    .nft-preview{
        grid-area: nft-preview;
        width: 30vw;
        height: 30vw;
        margin-top: 2.5vw;
        margin-left: 3vw;
        border-radius: 10px;
        transition: all 0.6s ease;
    }
    .nft-preview:hover{
        transform: scale(1.04);
    }
    .nft-title{
        margin-top: 2vw;
        font-size: 2vw;
        text-align: left;
        margin-left: 5vw;
    }
    .nft-description{
        width: 25vw;
        margin-left: 5vw;
        margin-top: 2vw;
    }
    .mint-about-container{
        width: 25vw;
        margin-left: 5vw;
        margin-top: 2vw;
    }
    .cryptocurrency-icon{
        width: 2vw;
        height: 2.4vw;
    }
    .mint-value-container{
        margin-left: 19vw;
    }
    .value{
        font-size: 1.1vw;
    }
    .supply{
        margin-left: 0;
        font-size: 1.1vw;
        margin-top: 0.5vw;
    }
    .mint-btn{
        width: 25vw;
        height: 4vw;
        font-size: 2vw;
        margin-top: 1vw;
        margin-left: 5vw;
    }
}