.auction-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.countdown-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.auction-image{
    width: 80vw;
    height: 80vw;
    margin-top: 12vw;
    max-width: 100vw;
}
.painting-container{
    text-align: center;
}
.painting-name{
    margin-top: 3vw;
    font-size: 5vw;
}
.artist{
    font-weight: 400;
    font-size: 3vw;
}
.last-bid{
    font-size: 5vw;
    text-align: left;
    margin-top: 10vw;
    margin-left: 10vw;
}

.bid-btn{
    width: 80vw;
    height: 14vw;
    font-size: 5vw;
    border-radius: 10px;
    margin-top: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
}
.offer-img{
    background-image: url("../images/offer.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 4.5vw;
    height: 4.5vw;
    margin-right: 3vw;
}
.withdraw-header{
    font-size: 5vw;
    text-align: left;
    margin-top: 10vw;
    width: 60vw;
}
.withdraw-container{
    width: 80vw;
}
.withdraw-btn{
    width: 80vw;
    height: 14vw;
    font-size: 5vw;
    border-radius: 10px;
    margin-top: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.withdraw-note{
    font-size: 3vw;
    margin-top: 2vw;
}
.painting-about{
    text-align: left;
    width: 70vw;
    padding: 5vw;
    background-color: rgb(235, 235, 235);
    margin: 15vw 0 20vw 0;
    border-radius: 5px;
}
.deposit{
    display: flex;
    align-items: flex-end;
}
.show-deposit{
    width: 5vw;
    height: 5vw;
    margin-bottom: 0.5vw;
    margin-left: -24vw;
    background-image: url("../images/eye.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.withdraw-info{
    display: flex;
    align-items: flex-end;
}
.fake-image{
    background-image: url("../images/mainimg1.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
@media screen and (min-width: 1200px) {
    .auction-content {  
        display: grid;
        grid-template-columns: 33vw 38vw 33vw;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "auciton-header painting-container painting-about";
      }
      .page-hl{
          margin: 3vw 0 0 0;
          width: 10vw;
      }
      
      .auciton-header { grid-area: auciton-header; }
      
    .countdown-container{
        width: 30vw;
        justify-content: left;
        padding-left: 8vw;
        margin-top: 1vh;
        font-size: 2vw;
    }
    .auction-image{
        width: 33vw;
        height: 33vw;
        margin-top: 4vw;
    }
    .painting-container{
        grid-area: painting-container; 
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .painting-name{
        margin-top: 1vw;
        font-size: 2vw;
        width: 100%;
    }
    .artist{
        font-weight: 400;
        font-size: 1.2vw;
        width: 100%;
    }
    .last-bid{
        font-size: 1.5vw;
        margin: 2.5vw 0 0 0;
    }
    .bid-btn{
        width: 27vw;
        height: 5vw;
        font-size: 2vw;
        margin: 0.5vw 0 10vw 0;
    }
    .offer-img{
        width: 2vw;
        height: 2vw;
        margin-right: 1.5vw;
    }
    .painting-about{
        grid-area: painting-about;
        width: 27vw;
        position: absolute;
        right: 0;
        padding: 2vw;
        margin: 4vw 0 20vw 0;
        max-height: 35vw;
        overflow: hidden;
    }
    .painting-about-text{
        font-size: 1.2vw;
    }
    .withdraw-header{
        font-size: 1.5vw;
        text-align: left;
        margin-top: 10vw;
        font-weight: 400;
        width: 17vw;
    }
    .withdraw-container{
        width: 29vw;
        position: inherit;
        margin-top: 28.2vh;
        margin-left: 5vw;
    }
    .withdraw-btn{
        width: 20vw;
        height: 3vw;
        font-size: 1vw;
        margin-top: 0.5vw;
    }
    .withdraw-note{
        font-size: 0.8vw;
        margin-top: 0.5vw;
    }
    .show-deposit{
        width: 1.5vw;
        height: 1.5vw;
        margin-bottom: 0.1vw;
        margin-left: -6vw;
    }

}